.homeContainer{
    margin-top: 7%;
    margin-left: 30%;
    font-family: 'Merienda One', cursive;
    
}
img{
    border-radius:30%;
    width: 24rem;
    height: 18rem;
    margin-top: 3%;
    cursor: pointer;
}

.hoverable:active{opacity: 0.5;}
